$bgColor: #333;
$txtColor: #fff;
$menuBgColor: #777;
$borderSettings: 1px solid #555;
$menuBorder: 1px solid #555;
$menuFont: 'Courier New', courier, monospace;
$clickyBorder: 1px solid #555;
$clickyBoxShadow: #000 0 0 15px;
